langchain
langchain_community
langchain_core
langchain-chroma
langchain-groq
langchain_huggingface
langchain_ollama


python-dotenv
ipykernel
openai

fastapi
langserve
uvicorn
sse_starlette

bs4
streamlit
faiss-cpu
pypdf
langchain_chroma